@import "tailwindcss";
*{
  font-family: outfit;
}
select,input,textarea{
  border: 1px solid #c2c2c2;
  outline-color: rgb(231, 179, 110);
  border-radius: 4px;
}
.active{
  background-color:#ffebf5;
  border-color: #c586A5;
}